ion-col {
    text-align: center;

    h6 {
        font-size: 1.2rem;
        font-weight: 400;

        span {
            font-size: 2rem;
            font-weight: 600;
            color: #E26255;

        }
    }

    ion-label {
        font-size: 1.1rem;
        font-weight: 500;
    }
}