.navbar {
    width: 100%;
    height: 12vh;
    display: flex;

    .navsection {
        display: flex;
        align-items: center;
    }

    .navsection:nth-child(1) {
        width: 100%;
        flex: 2;

        img {
            width: 200px;
            height: 90px;
            object-fit: cover;
        }
    }

    .navsection:nth-child(2) {
        flex: 1;
        position: relative;

        .navlist {
           
            width: 80%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

        }

        .navitems {
         justify-content: space-between;

        }
        .navitems:nth-child(1){
            position: relative;
            padding-top: 10px;
            .circle{
                position: absolute;
                width: 30px;
                top: 2px;
                right: -8px;
                height: 20px;
                background-color:  #E26255;;
                // border-radius:14rem ;
                // text-align: center;
                // margin-top: 12px;
                // color: white;
                // background-color: red;
            }
        }
    }

    .big {
        height: 30px;
        width: 30px;
    }

    .bigs {
        width: 30px;
        height: 30px;
    }
}