<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div  id="main-content">
  <ion-header class="ion-no-border">
    <div class="navbar">
      <div class="navsection">
        <img src="../../assets/icon/Screenshot__348_-removebg-preview 2.png" alt="">
      </div>
      <div class="navsection">
        <div class="navlist">
          <div class="navitems"><i-feather name="bell" class="big"></i-feather>
            <div class="circle">2</div>
          </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="navitems">
            <ion-menu-button> <img class="bigs" src="../../assets/align-left.png" alt=""></ion-menu-button>
          </div>
        </div>
      </div>
    </div>
  </ion-header>
</div>