<ion-item-sliding *ngFor="let item of Datas">
  <div *ngIf="taskconfig === 'config'">
    <ion-item-options side="start">

      <ion-item-option color="danger" (click)="deleteOneTODO(item._id)">Delete</ion-item-option>
    </ion-item-options>
  </div>
  <ion-item class="ion-no-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{item.taskCategory}}</ion-card-subtitle>
        <ion-card-title>{{item.taskTitle}}</ion-card-title>
        <i-feather name="star"></i-feather>
      </ion-card-header>
      <ion-card-content>
        <ion-label>
          {{item.taskDescription}}
        </ion-label>
        <hr style="background-color: white;">
        <ion-item class="ion-no-border ion-no-padding">
          <ion-label>24th April <br> 10:05 am</ion-label>
          <ion-label class="end" slot="end">{{item.taskStatus}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <div *ngIf="taskconfig === 'config'">
    <ion-item-options side="end">
      <ion-item-option color="success" (click)="editTodo(item._id)">Edit Todo</ion-item-option>
    </ion-item-options>
  </div>
  <div *ngIf="taskconfig === 'home'">
    <ion-item-options side="end">
      <ion-item-option color="success" (click)="CompletedTodo(item._id)">Completed</ion-item-option>
    </ion-item-options>
  </div>

</ion-item-sliding>