<ion-content>
  <app-datepicker (DateEmitter)="getCurrentDateResult($event)"></app-datepicker>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> On Progress </ion-label>
      </ion-item-divider>
      <app-cardinfo [taskconfig]="config"></app-cardinfo>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Completed </ion-label>
      </ion-item-divider>
      <app-cardinfo  [taskconfig]="config"></app-cardinfo>
    </ion-item-group>
  </ion-list>
</ion-content>