<div id="main-content">
  <ion-header class="ion-no-border">
    <div class="navbar">
      <div class="navsection">
        <img src="../../assets/icon/Screenshot__348_-removebg-preview 2.png" alt="" class="logo">
      </div>
      <div class="navsection">
        <div class="navlist">
          <div class="navitems">
            <i-feather name="bell" class="big" [routerLink]="['notification']"></i-feather>
            <!-- <div class="circle">2</div> -->
            <ion-badge class="circle">22k</ion-badge>
          </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="navitems">
            <ion-menu-button> <img class="bigs" src="../../assets/align-left.png" alt=""></ion-menu-button>
          </div>
        </div>
      </div>
    </div>
  </ion-header>
</div>

<!-- Side Menu -->

<ion-menu contentId="main-content">
  <ion-content class="ion-padding" class="sidemenuArea">

    <img src="../../assets/icon/image.png" alt="" class="logo">
    <ion-menu-toggle>
      <ion-item [button]="true" [routerLink]="['/home']" routerLinkActive="router-link-active" class="item"
        [button]="true">
        <i-feather name="Home" class="big"></i-feather> &nbsp; &nbsp;
        <ion-label>Home</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item class="item" [button]="true" [routerLink]="['/focus-mode']" routerLinkActive="router-link-active">
        <i-feather name="Crosshair" class="big"></i-feather>&nbsp; &nbsp;
        <ion-label>Focus Mode</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item class="item" [button]="true" [routerLink]="['/task/mananger/config']">
        <i-feather name="Activity" class="big"></i-feather>&nbsp; &nbsp;
        <ion-label>Task Manager</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <!-- <ion-item class="item" [button]="true">
      <i-feather name="List" class="big"></i-feather>&nbsp; &nbsp;
      <ion-label>Category</ion-label>
    </ion-item> -->
    <ion-menu-toggle>
      <ion-item class="item" [button]="true" [routerLink]="['notification']">
        <i-feather name="Bell" class="big"></i-feather>&nbsp; &nbsp;
        <ion-label>Notifications</ion-label>
        <ion-note slot="end">55</ion-note>
      </ion-item>
    </ion-menu-toggle>
    <ion-item class="item" [button]="true">
      <i-feather name="Settings" class="big"></i-feather>&nbsp; &nbsp;
      <ion-label>Setting</ion-label>
    </ion-item>

    <ion-segment value="default" mode="ios">
      <ion-segment-button value="default">
        <ion-item class="item">
          <i-feather name="Moon" class="big"></i-feather>
          <ion-label style="font-size: 18px;"> Dark</ion-label>
        </ion-item>


      </ion-segment-button>
      <ion-segment-button value="segment">
        <ion-item class="item">
          <i-feather name="Sun" class="big"></i-feather>
          <ion-label style="font-size: 18px;padding-top: 5px;"> Light</ion-label>
        </ion-item>

      </ion-segment-button>
    </ion-segment>

    <ion-item class="bottomMenu">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h2>John Cena</h2>
        <p>Id: 254841154</p>
      </ion-label>

    </ion-item>
  </ion-content>
</ion-menu>