<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Notifications</ion-label>
    </ion-list-header>
    <ion-item detail="false" line="insert">
      <ion-item-sliding>
        <ion-item [button]="true">
          <ion-label>
            <ion-text>I have become sentient</ion-text><br />
            <ion-note color="medium" class="ion-text-wrap">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni
            </ion-note>
            <br />
            <ion-note color="medium">Jan 25 2023 09:10 AM</ion-note>
            <br />>
          </ion-label>
          &nbsp;
          <i-feather name="clock"></i-feather> &nbsp;&nbsp;&nbsp;&nbsp;
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" expandable>Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item>
  </ion-list>
</ion-content>