.timer-container {
    width: 350px;
    height: 350px;
    background-color: red;
    margin: 0% auto;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.semicircle {
    width: 50%;
    height: 350px;
    position: absolute;
    transform-origin: right center;
   
}

.semicircle:nth-child(1) {
    background-color: blue;
    z-index: 2;
}

.semicircle:nth-child(2) {
    background-color: rgb(4, 255, 0);
    z-index: 3;
}

.semicircle:nth-child(3) {
    background-color:white;
    z-index: 4;
}
.outercircle{
    width: 330px;
    height: 330px;
    background-color:white;
   
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    position: absolute;
}
.timer-container:hover .semicircle:nth-child(1){
    transform: rotate(-180deg);
    transition: 1s linear;
}
.timer-container:hover .semicircle:nth-child(2){
    transform: rotate(-360deg);
    transition: 2s linear;
}
.timer-container:hover .semicircle:nth-child(3){
    transform: rotate(260deg);
    transition: 2s linear;
}
