h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 35rem;

}

ion-content {
    text-align: center;
}

ion-label {
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 2rem;
    color: #E26255;
}



ion-button {
    width: 60%;
    margin: 4% auto;
    display: block;
    --border-radius: 2rem;
}


.timingtext {
    font-size: 3rem;
}

p {
    width: 80%;
    text-align: center;
    margin: 0% auto;
    font-size: 1.2rem;
}