table.GeneratedTable {
    width: 90%;
    margin: 0% auto;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    color: #000000;
}

table.GeneratedTable td {
    border-width: 2px;
    border-color: #ff0808;
    border-style: solid;
    padding: 10px;
}