<ion-content>
  <ion-header></ion-header>
  <form [formGroup]="reactiveForm" (ngSubmit)="taskSubmitted()">
    <ion-list>
      <ion-item>
        <br>
        &nbsp;
        <ion-label></ion-label>
        <ion-input label="Task Title" labelPlacement="floating" fill="outline" placeholder="Enter task title"
          formControlName="taskTitle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select label="Category" fill="outline" label-placement="floating" formControlName="taskCategory">
          <ion-select-option *ngFor="let item of todoCategories" [value]="item">{{item}}</ion-select-option>

        </ion-select>
      </ion-item>
      <ion-item>

        <ion-select label="Priority" fill="outline" label-placement="floating" formControlName="taskPriority">
          <ion-select-option value="High">High</ion-select-option>
          <ion-select-option value="medium">medium</ion-select-option>
          <ion-select-option value="low">low</ion-select-option>
          <ion-select-option value="Dont">Don't Do</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="accordion">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-label>Date & Time</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <!-- <ion-datetime formControlName="taskDatetime" [(ngModel)]="mydate">
              </ion-datetime> -->
              <ion-datetime-button datetime="datetime" presentation="time"></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="datetime" formControlName="taskDatetime"   mode="ios"></ion-datetime>
                </ng-template>
              </ion-modal>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-item>



      <ion-item>
        <ion-label></ion-label>
        <ion-textarea formControlName="taskDescription" label="task Description" labelPlacement="floating"
          fill="outline" [autoGrow]="true" labelPlacement="floating" placeholder="Enter text" rows="8"> </ion-textarea>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="!this.reactiveForm.valid">Save</ion-button>
    </ion-list>
  </form>
</ion-content>
























<!-- <ion-radio-group value="Low">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-radio value="High" fill="outline" justify="space-between">High</ion-radio>
          </ion-col>
          <ion-col>
            <ion-radio value="Moderate" justify="space-between">Moderate</ion-radio>
          </ion-col>
          <ion-col>
            <ion-radio value="Low" justify="space-between">Low</ion-radio>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input label="Date"  fill="outline" >
            <ion-button fill="clear" slot="end" >
              <i-feather name="calendar" ></i-feather>
            </ion-button>
          </ion-input>
        </ion-col>
        <ion-col>
          <ion-input label="Time"    fill="outline" >
            <ion-button fill="clear" slot="end" aria-label="Show/hide">
              <i-feather name="clock" ></i-feather>
            </ion-button>
          </ion-input>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-radio-group> -->