<div class="accounrProviders">
  <ion-label>&nbsp;Or {{title}} With&nbsp;</ion-label>
  <div class="social">
    <div class="img">
      <ion-button fill="">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="../../../../../assets/google-logo-9808.png" loading="lazy" />
        </ion-avatar>
      </ion-button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-button fill="">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="../../../../../assets/pngwing.com.png" loading="lazy" />
        </ion-avatar>
      </ion-button>
    </div>
  </div>


</div>
<ion-title>
  {{title === 'Sign up' ? "Already have an Account? sign in" : "create an account ? sign up"}}

</ion-title>