<div class="dateSelector">

    <p id="datePickerModel" expand="block">{{monthYear}}</p>
    <div class="cal" #scrollContainer>
        <ul *ngFor="let item of finalResult.slice(sliceDate>0?sliceDate-2:sliceDate)">
            <button *ngIf="dateInString" (click)="hi(item)"
                [ngStyle]="{'color': item === dateInString ? 'red' : 'black', 'border-bottom': (item === dateInString ? '5px solid #E26255' : 'none')}">
                <ion-label>
                    {{item.split(',')[1].split(' ')[2]}} <br> {{ (item.split(',')[0] | titlecase) | slice:0:3}}
                    <!-- </span> -->
                </ion-label>
            </button>
        </ul>
        <!-- <button class="seeMore" (click)="getMoreDates()"><i-feather name="arrow-right-circle" class="big"></i-feather>
        </button> -->
    </div>
</div>

  <ion-modal #model class="model" trigger="datePickerModel" [initialBreakpoint]="0.2">
    <ng-template>
        <ion-datetime presentation="month-year" min="2023-01-01T10:21:52.978-08:00" [value]="currentYear + '-' + (currentMonth + 1)"
        max="2025-12-01T10:19:04.840-07:00" (ionChange)="monthPicker($event,model)" ></ion-datetime>
    </ng-template>
  </ion-modal>
