.cal {
    width: 90%;
    height: 5rem;
    margin: 0% auto;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    border-bottom: 1px solid gray;

}

.cal::-webkit-scrollbar {
    display: none;
}

ul {
    list-style: none;
    padding: 0%;
    height: 100%;

    position: relative;

    button {
        width: 70px;
        line-height: 25px;
        background-color: transparent;
        height: 100%;
        font-size: 18px;

        span {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 60;
        }
    }

    // button:focus {
    //     outline: none;
    //     // background-color: #E26255;
    //     border-bottom: 5px solid #E26255;
    // }

    button:focus span {
        color: #E26255;
    }

}


.seeMore {
    width: 100%;
    background-color: transparent;
    color: #E26255;

    .big {
        height: 30px;
        width: 30px;
    }
}