.cal {
    width: 90%;
    height: 5rem;
    margin: 0% auto;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    border-bottom: 1px solid grey;
}

ul {
    list-style: none;
    padding: 0%;
    height: 100%;

    position: relative;

    button {
        width: 80px;
        line-height: 25px;
        background-color: transparent;
        height: 100%;
        font-size: 18px;
    }
}

.seeMore {
    width:100%;
    background-color: transparent;
    color:#E26255;
  
    .big {
        height: 30px;
        width: 30px;
    }
}